@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>HESAP MAKİNESİ</h2>
<form class="form-control" method="post">
    <div>

        Sayı 1: <input type="text" name="sayi1" id="sayi1"/><br /><br />
        Sayı 2: <input type="text" name="sayi2" id="sayi2" /><br /><br />
        Sonuç: @ViewBag.snc
        <button>Hesapla</button>
    </div>
</form>